header {
    background-color: darkblue;
    color: white;
    text-align: center;
}

body {
    
    
}

.search {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
}

.results {
    display: flex;
    flex-direction: column;
}

#current {
    margin: 15px;
    border: 3px solid white;
}